body {
    font-family:sans-serif;
}

.multicolorRadio {
    margin:4px;
    background-color:white;
    white-space:nowrap;
    clear: both;
    padding:3px;
}

.selectOneFuzzyBar {
	margin:4px;
	background-color:white;
	white-space:nowrap;
    clear: both;
    padding:3px;
}

.selectAllFuzzyBar {
	margin:4px;
	background-color:white;
	white-space:nowrap;
    clear: both;
    padding:3px;
}

.selectAllFuzzyBar .selectAllFuzzyBarCell {
	display:inline;
}

.selectOneFuzzyBar .greenHover {
	background-color:green;
}

.multicolorRadio .leftmostRadio {
	display:inline;
}

.multicolorRadio .rightmostRadio {
	display:inline;
}

.multicolorRadio .middleRadio {
	display:inline;
}

.multicolorRadio .leftmostRadio .color {
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}

.multicolorRadio .rightmostRadio .color {
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
}

.multicolorRadio .color:hover {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    opacity: 0.75;
}

.multicolorRadio .middleRadio input:not(:checked) + span {
    color:black;
    visibility: hidden;
}

.multicolorRadio .middleRadio input:hover + span {
    visibility: visible;
}

.multicolorRadio .color {
    float:left;
    width:60px;
    height:30px;
    margin:0px;
    background-color:#404040;
    border:2px solid #D0D0D0;
    overflow:auto;
}

.multicolorRadio .groupLabel {
    float:left;
    width:120px;
    height:30px;
    overflow:auto;
}

.selectAllFuzzyBar .groupLabel {
    float:left;
    width:120px;
    height:30px;
    overflow:auto;
}

.selectAllFuzzyBar .groupLabel span {
	color:black;
	font-size: 14px;
	text-align:left;
	position:relative;
    top:50%;
    transform:translateY(-50%);
    font-weight:bold;
}

.selectOneFuzzyBar label {
	float:left;
    width:60px;
    height:30px;
    margin:0px;
    overflow:auto;
    display:inline;
}

.selectOneFuzzyBar label.selectOneCell {
	background-color:#404040;
	border:2px solid #D0D0D0;
}

.selectOneFuzzyBar label span {
    position:relative;
    top:50%;
    transform:translateY(-50%);
    color:white;
    font-weight:bold;
    text-align:center;
    font-size: 8px;
    padding:6px 0px;
    display:block;
}

.selectOneFuzzyBar label input {
    position:absolute;
    top:-40px;
}

.selectOneFuzzyBar .groupLabel {
    float:left;
    width:120px;
    height:30px;
    overflow:auto;
}

.selectOneFuzzyBar .groupLabel span {
	color:black;
	font-size: 14px;
	text-align:left;
	position:relative;
    top:50%;
    transform:translateY(-50%);
    font-weight:bold;
}

.multicolourSelect label {
	background-color:#404040;
	overflow:auto;
}

.multicolorRadio label span {
    position:relative;
    top:50%;
    transform:translateY(-50%);
    color:white;
    font-weight:bold;
    text-align:center;
    font-size: 8px;
    padding:6px 0px;
    display:block;
}

.multicolorRadio .groupLabel span {
	color:black;
	font-size: 14px;
	text-align:left;
}

.multicolorRadio label input {
    position:absolute;
    top:-40px;
}

.multicolorRadio input:checked + span {
    color:#F7F7F7;
}

.selectAllFuzzyBarCell select {
	float:left;
    width:60px;
    height:30px;
    margin:0px;
    border:2px solid #D0D0D0;
    overflow:auto;
    text-indent: 100%;
}

.selectAllFuzzyBarCell .pink {
    background-color:#FF00FF;
}

.selectAllFuzzyBarCell .yellow {
    background-color:#FFFF00;
    color:#333;
}

.selectAllFuzzyBarCell .blue {
    background-color:#0000FF;
    color:#333;
}

.selectAllFuzzyBarCell .red {
    background-color:#FF0000;
    color:#333;
}

.selectAllFuzzyBarCell .green {
    background-color:#00FF00;
    color:#333;
}
.selectAllFuzzyBarCell .orange {
    background-color:#FF7200;
    color:#333;
}

.multicolorRadio .pink {
    background-color:#FF00FF;
}

.multicolorRadio .yellow {
    background-color:#FFFF00;
    color:#333;
}

.multicolorRadio .blue {
    background-color:#0000FF;
    color:#333;
}

.multicolorRadio .red {
    background-color:#FF0000;
    color:#333;
}

.multicolorRadio .green {
    background-color:#00FF00;
    color:#333;
}
.multicolorRadio .orange {
    background-color:#FF7200;
    color:#333;
}

